.cajas-text{
    display:inline-flex;
    flex-direction:column;
}

input{
    text-align:center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 34px 0px 34px 0px;
    border-color:green;
    width:500px;
    height:70px;
    margin-bottom:30px;    
}

.button-init{
    display:flex;
    justify-content:center;
    align-items:center;
    width:300px; 
    background:green;
    height:65px;
    margin-left:100px;
    border-radius:6px;
}